{% extends 'base1.html' %}
{% block content %}

<div class="newRegistartions">
    <button type="reset">Refresh</button>
        
    {% for newUser in newUsers %}
    <div class="usersList">
        <p>Name : <strong>{{newUser.First_Name}} {{newUser.Last_Name}}</strong></p>
        <p>Licence number : <strong>{{newUser.License_num}}</strong></p>
        <p>Vehicle number : <strong>{{newUser.Vehicle_Number}}</strong></p>
        <p>Vehicle name : <strong>{{newUser.Vehicle_Name}}</strong></p>
        <br>
        <br>
    </div>
    {% endfor %}

</div>

{% endblock %}
