{% extends 'base1.html' %}
{% block content %}

<h1 style="color : darkorchid;">Hey There!</h1>
<br>
<h2 style="background-color:powderblue;">WELCOME TO INSTANT PAY</h2>

<p style= "color: dodgerblue;">New User? Click Here to register</p>

<form action=""><input name="b1" type="submit" value="SIGN UP" ></form>


<p style= "color:crimson;"><a href="http://127.0.0.1:8000/">HOME</a> <br> click here to go to home page </p>


<p><a href="http://127.0.0.1:8000/adminLogin/">ADMIN LOGIN</a></p>
<p><a href="http://127.0.0.1:8000/userLogin/">USER LOGIN</a></p>
<p><a href="http://127.0.0.1:8000/workerLogin/">WORKER LOGIN</a></p>