{% extends 'base1.html' %}
{% block content %}


<h4>Hello {{name}}, you can do the following activities</h4>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus temporibus eius distinctio, quidem ea deserunt corrupti neque voluptas, velit doloremque quia delectus! Dolorem quis voluptatibus in quibusdam repellendus deleniti quos dolore ipsam, at numquam eaque non. Soluta aliquid quaerat eligendi?</p>

<!-- <button class="submit" onclick="" >Logout</button> -->
<li><a href="http://127.0.0.1:8000/">Logout</a></li>
<p>Description</p>
<p>MY VEHICLE DETAILS</p>
<p>RECHARGE</p>
<p>CHANGE INFO</p>
{% endblock %}