{% extends 'base1.html' %}
{% block content %}
<title>Management template</title>
<h1> Welcome to Instant Pay!!</h1>
<br>
<p style= "color: brown;">
    This is vehicle home template
</p>

<br>
<br>
<body>
<div class = "1">
    <!-- <form action="detect/" method="post">
        {% csrf_token %}
        <p> Click here to detect and debit</p>
        <input name="s2" type="submit" value="DETECT" >
        < !-- <input type="file" name="img" value = "Upload" id="001"> -->
    <!-- </form> --> -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="file" name="upload" accept=".jpg, .jpeg">
            <input name="s2" type="submit" value="DETECT" >
    </form>
</div>

<br>
<div class="2">
    <form action="debit/" method="POST">
        {% csrf_token %}
        <p> Click here to manually enter and debit</p>
        Enter License number : <input type="text" name="num"><br>
        <input name="s2" type="submit" value="CONFIRM" >
    </form>
</div>
<br>

<div class="3">
    <form action="">
        <p> Vehicle enquiry</p>
        Enter LICENECE number : <input type="text" name="num"><br>
        <input name="s2" type="submit" value="Get Details" >
    </form>
</div>
<br>

<br>
<div class="4">
    <form action="">
        <p> Click here to CHECK registration status of vehicle</p>
        Enter License number : <input type="text" name="num"><br>
        <input name="s2" type="submit" value="CHECK STATUS" >
    </form>
</div>
<br>


<p><a href="http://127.0.0.1:8000/">Click here to go back to home page</a></p>
</body>body>

{% endblock %}
